body{
  margin: 0;
  padding: 0;
  color: #333;/*gris foncé*/
  font-size: 12pt;
  text-align: center;
}
/*BARRE DE NAVIGATION*/
nav{
  overflow: hidden;
  position: fixed;
  background-color: #333; /*gris foncé*/
  opacity: 0.7;
  top: 0;
  width: 100%;
}
nav img{
  width: 30px;
  height: 30px
}
nav ul{
  list-style-type: none; /*supprime les puces*/
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
nav a{
  font-weight: bold;
  font-size: 14pt;
  color: #e16173; /*rose*/
  text-decoration: none; /*supprime surlignage*/
}
nav a:hover{
  color: white;
}
#backgroundhead p{
  text-align: right;
  color: black;
  font-weight: bold;
  font-style: italic;
}
#backgroundhead{
  background: url('/home/descodeuses/Saphir/cv/images/macbook-plante.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: white;
  text-align: center;
  padding: 200px;
}
